@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;600;700&family=Lato:wght@300;400;700&family=Merriweather:wght@300;400&display=swap');
@font-face {
  font-family: fontAaron;
  src: url("../fonts/SVN-Aaron-Script.otf");
}
@font-face {
  font-family: timenewroman;
  src: url("../fonts/Times-New-Roman-400.ttf");
}

body{
  font-family: 'Be Vietnam Pro', sans-serif !important;
}
ul{
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.gap-20{
  gap: 20px;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.elementor-2700 .elementor-element.elementor-element-6ac7fd0>.elementor-container{
  height: 90px;
  min-height: unset;
}
.hotline_header{
  background-color: #EFB443;
  width: 140px !important;
  height: 50px;
  border-radius: 5px;
}
.partner{
  margin: 30px 0
}
.service-two__card-image img{
  height: 230px;
  object-fit: cover;
}
.bd-logo{
  border-bottom: 1px solid #164A2E;
  width: 50px;
}
.ul_cont li{
  color:#777777;
  margin-bottom: 10px;
}
.ul_cont{
  list-style: initial;
  padding-left: 20px;
}
.product_home_item{
  position: relative;
}
.product_home_item p{
  position: absolute;
  top: 50%;
  transform: translate(90%, -50%);
  color: white;
  font-size: 48px;
  font-weight: bold;
}











@media screen and (min-width: 1024px) {
  .service-two__card-content{
    min-height: 416px;
  }
}